# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# Maven #
/target/
!**/src/main/**/target/
!**/src/test/**/target/
target/classes/**/*.class
target/*.jar

# IDEA #
.idea/
*.iml
out/
**/.DS_Store
**/*.log

# Eclipse #
.settings/
.classpath
.project

# App #
**/logs/
